.banner {
    display: grid;
    @mixin atMedium {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }
    background: url('./assets/images/bg2.webp') no-repeat center;
    background-size: cover;    
    height: 85vh;

    &__desc {
        display: flex;
        justify-content: flex-start;
        @mixin atMedium {
            justify-content: center;
        }
        align-items: flex-start;
        flex-direction: column;
        @mixin forSmall {
            order: 2;
        }

        h1 {
            margin-bottom: 1.2rem;
            font-size: 2rem;
            line-height: 1.4;
            @mixin atMedium {
                margin-bottom: 1.3rem;
                font-size: 2.5rem;
                line-height: 1.4;
            }
            @mixin textGradient;
        }

        p {
            color: $white;
            line-height: 1.6;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        @mixin forSmall {
            order: 1;
        }
    }
}