.render-images {
    display: grid;
    @mixin atMedium {
        grid-template-columns: 1fr 1fr;
    }
    gap: 2rem;
    background: url('./assets/images/bg1.webp') no-repeat center;
    background-size: cover;
}