.services {
    background-color: $black;

    &__title {
        @mixin textGradient;
    }

    &__para {   
        color: $lightgrey;
    }

    &__items {
        display: grid;
        @mixin atMedium {
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
            padding-block: 1.5rem;
        }
        background: url('./assets/images/bg4.webp') no-repeat center;
        background-size: cover;
        
        

        .item__desc {
            padding-block: 3rem;

            .item_icon {
                display: inline-block;
                text-align: center;
            }

            h3 {
                @mixin textGradient;
                margin-bottom: 1rem;
                @mixin forSmall {
                    font-size: 1.4rem;
                }
            }

            p {
                color: $lightgrey;
            }

            span {
                margin-bottom: 1rem;
                @mixin textGradient;
                @mixin forSmall {
                    text-align: center;
                }
            }

            @mixin forSmall {
                order: 1;
            }
        }

        .item__img {
            padding-block: 1.2rem;
            @mixin forSmall {
                order: 2;
            }
            @mixin atMedium {
                padding: 2rem;
            }
            img {
                border-radius: 5px;
            }
        }
    }
}