.why-us {
  &__title {
        color: $black;
    }

    .items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /*align-items: stretch; /* Default */
      }
      
      .item {
        flex: 1;
        @mixin forSmall {
          flex: auto;
          padding: 1rem;
          margin-bottom: 1rem;
        }
        background-color: $white;   
        @mixin atMedium {
          max-width: 400px;
          margin: 0 20px;
          padding: 30px;
        }
        border-radius: 10px;
        box-shadow: 10px 10px 49px -17px rgba(23,23,23,0.2);
      }
      
      .item h3 {
        margin-top: 2.2rem;
        text-align: center;
        @mixin forSmall {
          font-size: 1.4rem;
        }
      }
      
      .item p {
        margin-top: 1.2rem;
        color: #555;
        font-size: 1.15rem;
      }

      .item_icon {
        display: block;
        text-align: center;
        color: $gold;
      }
}